.mainLoginDiv {
    height: 80vh;
    display: flex;
    justify-content: center;
}

.innerLoginDiv {
    width: 80vw;
    /* height: 40vh; */
    /* border: 3px solid red; */
}

#loginBox {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
}