.mainDiv {
    width: 60%;
    display: flex;
    margin-left: 12rem;
    margin-top: 3rem;
}

.innerDiv {
    width: 100%;
}

.historyHeading {
    margin: 0;
}

.cardDiv {
    margin-top: 2rem;
    width: 100%;
}